# Ignore everything by default
*

# But keep PowerShell script files
!*.ps1
!*.psm1
!*.psd1
!README.md
!*.example
!LoxoneUtils/
!*.png
!CHANGELOG.md
!manifests/**
!UpdateLoxone-v*.zip

# Keep this .gitignore file
!.gitignore